<!DOCTYPE html>
<html lang="ja">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>IdeaTree</title>
        <meta name="description" context="アイデアを出すお手伝いをするWebアプリケーションです。">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'Idea/style.css' %}">
        <link rel="icon" href="{% static 'Idea/images/logo_tree.png' %}">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
        
    </head>

    <body>
        {% block body %}
        <header>
            <img src="{% static 'Idea/images/logo_tree.png' %}" alt="logo" class="image">
            <div class="inputs">
                <input type="text" name="word" class="input" id="first">
                <input type="submit" value="&#xf002" class="search" onclick = "window.firstword();">
            </div>
            <form action="{% url 'Idea:detail' %}" method="get" class="inputs">
                {% csrf_token %}
                <input type="hidden" id="sendword" name="key">
                <input type="submit" value="更新">
            </form>
            <div class="buttons">
                <a><img src="{% static 'Idea/images/hatena_icon.png' %}" class="button" id="question"></a>
                <a href="https://github.com/MAAAARCY/IdeaTree.git"><img src="{% static 'Idea/images/GitHub-Mark-64px.png' %}" class="button"></a>
                <a href="https://qiita.com/shoma3571"><img src="{% static 'Idea/images/qiita_new.png' %}" class="button"></a>
            </div>
        </header>
        
        <main>
            <div id="modal" class="modal">
                <div class="modal-content">
                  <div class="modal-body">
                    <center>
                        <br>
                        <h1>IdeaTree</h1>
                        <p>　　</p>
                        <h3>このアプリについて</h3>
                        <p>アイデアを出すのを助けてくれます</p>
                        <p>　　</p>
                        <h3>使い方</h3>
                        <p>一番上のボックスにワードを入れて検索</p>
                        <p><i class="fa fa-angle-down"></i></p>
                        <p>樹形図が広がっていく</p>
                        <p><i class="fa fa-angle-down"></i></p>
                        <p>出てきたワードをタップして再検索</p>
                        <p><i class="fa fa-angle-down"></i></p>
                        <h4>どんどん広がっていく</h4>
                        <br><br>
                        <p>©︎2020 Shoma, Miku, Masatoshi</p>
                        <br>
                    </center>
                  </div>
                </div>
            </div>
            <div id="network"></div>

        </main>
        <script type="text/javascript" src="{% static 'Idea/vis.js' %}"></script>
        {% if key %}
        {% for o in data %}
        <tr class="{% cycle 'row1' 'row2' %}">
        <script type = "text/javascript">
            words.push("{{o}}");
        </script>
        </tr>
        {% endfor %}
        <script type = "text/javascript">
            //数字受け取るやつ
            //ここでキャスト
            //input_word_node_id = parseInt("{{word_num}}",10);
            //max_node_id = parseInt("{{size_num}}",10);
            /*console.log(words);
            for(var i=0;i<21;i++){
                console.log(words[i]);
            }
            */
            console.log("{{word_num}}");
            console.log("{{size_num}}");
            console.log("{{flag}}");
            getdata();
            console.log("{{word_num}}");
            console.log("{{size_num}}");
            console.log("{{flag}}");
            //console.log(words);
        </script>
        {% endif %}
        {% endblock %}
    </body>
</html>