<!DOCTYPE html>

<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet">

    <style type="text/css">
      #network {
        width:  800px;
        height: 400px;
        border: 1px solid #000;
      }

    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  </head>
  <body>
    {% block body %}
    <div id="network"></div>
    
         firstname <input type="text"  id="first">
         <input type="submit" value="送信" onclick='firstword()'>

    <h2 id="tap">tap</h2>
    <form action="{% url 'Idea:detail' %}" method="get">
    {% csrf_token %}
    <input type="text" id="sendword" name="key">
    <input type="submit" value="送信" onclick='firstword()'>
    </form>

    <script type="text/javascript">
      var flag = [false,true];
      var str = "";
      var nodes = new vis.DataSet([
        {id: 1, label: str},
      ]);
      var edges = new vis.DataSet([
      ]);
      
      var container = document.getElementById('network');
      //dataをStorageにぶち込む
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        interaction:{hover:true},
      };

      var network = new vis.Network(container, data, options);

      var now_node_id=1;
      var now_node_word = "";
      var max_node_id=1;
      var clicked = false;

      //nodeに出すやつ
      var words = [""];
      //APIから返ってきたもの
      var APIdatas = [];
      var names = ['','noname'];
      
      
      
      window.onbeforeunload = function(){
        localStorage.clear();
      }

      network.on("click", function(params) {
        if (params.nodes.length == 1) {
          var nodeId=params.nodes;
          now_node_id = nodeId;
          var node = nodes[nodeId];
          now_node_word = names[nodeId];
          console.log(nodeId);
          console.log(now_node_word);
          console.log("ポケモン");
          document.getElementById('tap').innerHTML = 'Selection: ' +nodeId; //何を指してるかをとることができました(天才)
          document.getElementById('sendword').value = now_node_word;
        }



        if (clicked) {
          if(false===flag[now_node_id]){
            alert("flag");
          return;
          }
          for(var i=0;i<words.length;i++){ //for(var i=0;i<words.length;i++)
            nodes.add({id:i+max_node_id+1,label:words[i]});
            edges.add({from: now_node_id, to: i+max_node_id+1});
            flag.push(true);
          }
          max_node_id+=words.length;
          clicked = false;
          flag[now_node_id]=false;
          return;
        }

        // シングルクリックを受理、300ms間だけダブルクリック判定を残す
        clicked = true;
        setTimeout(function () {
          // ダブルクリックによりclickedフラグがリセットされていない
          //     -> シングルクリックだった
          if (clicked) {
            //alert("single click!");
          }
          clicked = false;
        }, 300);
      });

      function firstword(){
        str = document.getElementById('first').value;
        localStorage.setItem('words',str);
        names[1]=str;
        nodes.update({id:1, label:str});
      }

      function init(){
        var storageflag =localStorage.getItem('words');
        console.log(storageflag);
        if(storageflag){
          console.log('wordあり');
          var storagewords = JSON.parse(storageflag);
          for(var i=0;i<storagewords.length;i++){
            words.push(storagewords[i]);
          }
          console.log(words);
        }
      }

      function getAPI(){
        

        var api_input = APIdatas[0];
        APIdatas.splice(0,1);

        console.log(api_input);
        console.log(APIdatas[0]);

        words[0] = api_input;

        for(var i=0;i<APIdatas.length;i++){
          words.push(APIdatas[i]);
        }

        document.getElementById('tap').innerHTML =words;

        //wordsに全部入ったっぽい
        localStorage.setItem('words',JSON.stringify(words));
        console.log(JSON.stringify(words));
      }

      function create(){
        nodes.update({id:1, label:words[0]});
        for(var i=0;i<words.length;i++){
          nodes.add({id:i+max_node_id+1,label:words[i]});
          edges.add({from: now_node_id, to: i+max_node_id+1});
          flag.push(true);
          names.push(words[i]);
        }
      }

      </script>
    {% if key %}
    <script type = "text/javascript">
    </script>
    {% for o in data %}
        <tr class="{% cycle 'row1' 'row2' %}">
        <script type = "text/javascript">
        //APIdatasに返ってきたやつをいれる
        APIdatas.push("{{o}}");
        </script>
        </tr>
    {% endfor %}
    <script type="text/javascript">
      getAPI();
      init();
      create();
    </script>
    {% endif %}
    {% endblock %}
  </body>
</html>