<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>IdeaTree</title>
        <meta name="description" context="アイデアを出すお手伝いをするWebアプリケーションです。">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="../../static/Idea/images/logo_tree.png">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    </head>

    <body>
        <header>
            <img src="../../static/Idea/images/logo_tree.png" alt="logo" class="image">
            <div class="inputs">
                <input type="text" name="word" class="input" id="first">
                <input type="submit" value="&#xf002" onclick="firstword()" class="search">
            </div>
            <div class="buttons">
                <a><img src="../../static/Idea/images/hatena_icon.png" class="button" id="question"></a>
                <a href="https://github.com/MAAAARCY/IdeaTree.git"><img src="../../static/Idea/images/GitHub-Mark-64px.png" class="button"></a>
                <a href="https://qiita.com/shoma3571"><img src="../../static/Idea/images/qiita_new.png" class="button"></a>
                <a href="#!" id="ss" >スクリーンショットをダウンロード</a>
            </div>
        </header>

        <main>
            <div id="modal" class="modal">
                <div class="modal-content">
                  <div class="modal-body">
                    <center>
                        <br>
                        <h1>IdeaTree</h1>
                        <p>　　</p>
                        <h3>このアプリについて</h3>
                        <p>アイデアを出すのを助けてくれます</p>
                        <p>　　</p>
                        <h3>使い方</h3>
                        <p>一番上のボックスにワードを入れて検索</p>
                        <p><i class="fa fa-angle-down"></i></p>
                        <p>樹形図が広がっていく</p>
                        <p><i class="fa fa-angle-down"></i></p>
                        <p>出てきたワードをタップして再検索</p>
                        <p><i class="fa fa-angle-down"></i></p>
                        <h4>どんどん広がっていく</h4>
                        <br><br>
                        <p>©︎2020 Shoma, Miku, Masatoshi</p>
                        <br>
                    </center>
                  </div>
                </div>
            </div>
            <div id="image-modal" class="modal">
              <div class="image-modal-content">
                <div class="image-modal-body">
                  <center>
                      <br>
                      <h1>この画像保存しますか？</h1>
                      <br>
                      <img src="" alt="gazou" id="result">
                      <br>
                      <a href="#!" id="download_button" type="button" download="tree.png">保存する</a>
                  </center>
                </div>
              </div>
          </div>
            <div id="target">
                <div id="network" class="picture"><div id="background"></div></div>
            </div>

            <!--<img src="" alt="gazou" id="result">-->
        </main>

        <script type="text/javascript" src="vis.js"></script>
        <script type="text/javascript" src="pop-up.js"></script>   

        
        <!--<script>
            //ロードされた際の処理として実施：
            window.onload = function(){


                //ボタンを押下した際にダウンロードする画像を作る
              
              //HTML内に画像を表示
              html2canvas(document.getElementsByClassName("picture"),{
                onrendered: function(canvas){
                  //imgタグのsrcの中に、html2canvasがレンダリングした画像を指定する。
                  var imgData = canvas.toDataURL();
                  document.getElementById("result").src = imgData;
                }
              });

              html2canvas(document.getElementsByClassName("picture"),{
                onrendered: function(canvas){
                  //aタグのhrefにキャプチャ画像のURLを設定
                  var imgData = canvas.toDataURL();
                  document.getElementById("ss").href = imgData;
                }
              });
        
              
        
            }
          </script>-->

    </div>
    </body>


</html>