@charset "UTF-8";

html{
    font-family: 'M PLUS 1p', sans-serif;
    height: 100%;
}

body{
    height: 100%;
}

header{
    background-color: #edeff0;
    height: 70px;
    display: flex;
}

main{
    font-size: 25px;
    color: rgb(30, 136, 30);
    height: 85%;
}



.image{
    margin:5px 0px;
    margin-left: 20px;
    height: 60px;
}


.inputs{
    display: flex;
    margin-left: 30px;
}

.buttons{
    display: flex;
    margin-left: auto;
}

.button{
    margin: 10px;
    width: 50px;
    height: 50px;
}

.button:hover {
    /*背景の色を変更する(この色適当に決めたので後で変更しましょう)*/
    background-color: paleturquoise;
}


.inputs{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}

.input{
    border: rgb(70, 196, 70) 3px solid;
    background-color: #f8fafa;
    height: 40px;
    width: 250px;
    box-shadow: 0 0 4px gray;
}

.search{
    cursor: pointer;
    font-family: FontAwesome;
    background-color: #f8fafa;
    font-size: 1em;
    color:  rgb(70, 196, 70);
    height: 40px;
    outline : none;
    margin-left: 15px;
    border: rgb(70, 196, 70) 3px solid ;
    padding: 10px;
}

#network {
    width:  90%;
    height: 100%;
    border: 1px solid rgb(142, 136, 136);
    margin: 150px auto;  
    margin-top: 15px;
    margin-bottom: 0px;
}




/*popup実装(とりあえずなのでこっからどんどん編集する)*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
    
.modal-content{
    background-color: white;
    width: 80%;
    margin: 20% auto;
    border: olivedrab 10px double;
}